doctype html
html
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible',content='IE=edge')
        meta(name='viewport',content='width=device-width, initial-scale=1')
        title #{meta.title}
        meta(name="description",content="!{meta.description}")
        meta(name="original-source",content="#{meta.url}")
        meta(property="methuss:url",content="#{meta.url}")
        meta(property="methuss:key",content="#{meta.key}")
        each value, key in meta
            meta(property="#{key}",content="#{value}")
    body
        dl
            each value, key in meta
                dt= key
                dd= value
