doctype html
html
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible',content='IE=edge')
        meta(name='viewport',content='width=device-width, initial-scale=1')
        title Methuss - !{title}
        each value, key in meta
            meta(property="#{key}",content="#{value}")
    body
        dl
            each value, key in meta
                dt= key
                dd= value
